#output {
    display: inline-block; 
    top: 4px; 
    position: relative ;
    border: dotted 1px #ccc; 
    padding: 2px;
}

#snapshotBtn {
    /*border: solid 2px #ccc;*/
    font-size: 24pt;
}

.instructions {
    margin-bottom: 20px;
}

#photos {
    margin-top: 20px;
}

#slider {
    margin-top: 10px;
}

.countdown {
    font-size: 20pt;
}

.range {
    position: absolute;
    height:100%;
    width:20%;
    top: 0;
    left: 65%;
    background-color: #54DE04;
}

.below {
    position: relative;
    top: 20px;
    height: 25%;
}

#slider {
    background: #D6C9C9;
}